<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="premio">
            <h2><span>Premio</span> {{premio.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Titulo Premio</span></dt>
                <dd>
                    <span>{{premio.tituloPremio}}</span>
                </dd>
                <dt><span>Descripcion</span></dt>
                <dd>
                    <span>{{premio.descripcion}}</span>
                </dd>
                <dt><span>Categoria</span></dt>
                <dd>
                    <span>{{premio.categoria}}</span>
                </dd>
                <dt><span>Puesto</span></dt>
                <dd>
                    <span>{{premio.puesto}}</span>
                </dd>
                <dt><span>Gestion</span></dt>
                <dd>
                    <span>{{premio.gestion}}</span>
                </dd>
                <dt><span>Id Fraternidad</span></dt>
                <dd>
                    <span>{{premio.idFraternidad}}</span>
                </dd>
                <dt><span>Nombre</span></dt>
                <dd>
                    <span *ngFor="let nombre of premio.nombres; let last = last">
                        <a [routerLink]="['/fraternidad', nombre?.id, 'view' ]">{{nombre.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/premio', premio.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
