<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recorrido">
            <h2><span>Recorrido</span> {{recorrido.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{recorrido.nombre}}</span>
                </dd>
                <dt><span>Inicio</span></dt>
                <dd>
                    <span>{{recorrido.inicio}}</span>
                </dd>
                <dt><span>Fin</span></dt>
                <dd>
                    <span>{{recorrido.fin}}</span>
                </dd>
                <dt><span>Descripcion</span></dt>
                <dd>
                    <span>{{recorrido.descripcion}}</span>
                </dd>
                <dt><span>Gestion</span></dt>
                <dd>
                    <span>{{recorrido.gestion}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/recorrido', recorrido.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
