<div>
    <h2 id="page-heading">
        <span>Notificacions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-notificacion" [routerLink]="['/notificacion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Notificacion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="notificacions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Titulo Notificacion</span></th>
            <th><span>Descripcion</span></th>
            <th><span>Contenido</span></th>
            <th><span>Estado</span></th>
            <th><span>Fecha</span></th>
            <th><span>Hora</span></th>
            <th><span>Id Fraternidad</span></th>
            <th><span>Nombre</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let notificacion of notificacions ;trackBy: trackId">
                <td><a [routerLink]="['/notificacion', notificacion.id, 'view' ]">{{notificacion.id}}</a></td>
                <td>{{notificacion.tituloNotificacion}}</td>
                <td>{{notificacion.descripcion}}</td>
                <td>{{notificacion.contenido}}</td>
                <td>{{notificacion.estado}}</td>
                <td>{{notificacion.fecha | date:'mediumDate'}}</td>
                <td>{{notificacion.hora | date:'medium'}}</td>
                <td>{{notificacion.idFraternidad}}</td>
                <td>
                    <span *ngFor="let nombre of notificacion.nombres; let last = last">
                            <a class="form-control-static" [routerLink]="['../fraternidad', nombre?.id, 'view' ]">{{nombre.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/notificacion', notificacion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/notificacion', notificacion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'notificacion', { outlets: { popup: notificacion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
