<div>
    <h2 id="page-heading">
        <span>Comunicados</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-comunicado" [routerLink]="['/comunicado/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Comunicado
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="comunicados">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Titulo</span></th>
            <th><span>Descripcion</span></th>
            <th><span>Contenido</span></th>
            <th><span>Gestion</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comunicado of comunicados ;trackBy: trackId">
                <td><a [routerLink]="['/comunicado', comunicado.id, 'view' ]">{{comunicado.id}}</a></td>
                <td>{{comunicado.titulo}}</td>
                <td>{{comunicado.descripcion}}</td>
                <td>{{comunicado.contenido}}</td>
                <td>{{comunicado.gestion}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/comunicado', comunicado.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/comunicado', comunicado.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'comunicado', { outlets: { popup: comunicado.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
