<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-niusta-heading">Create or edit a Niusta</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!niusta.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ci">Ci</label>
                    <input type="number" class="form-control" name="ci" id="field_ci"
                           formControlName="ci"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nombreNiusta">Nombre Niusta</label>
                    <input type="text" class="form-control" name="nombreNiusta" id="field_nombreNiusta"
                           formControlName="nombreNiusta"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ru">Ru</label>
                    <input type="number" class="form-control" name="ru" id="field_ru"
                           formControlName="ru"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_item">Item</label>
                    <input type="number" class="form-control" name="item" id="field_item"
                           formControlName="item"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_edad">Edad</label>
                    <input type="number" class="form-control" name="edad" id="field_edad"
                           formControlName="edad"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_gustos">Gustos</label>
                    <input type="text" class="form-control" name="gustos" id="field_gustos"
                           formControlName="gustos"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_estatura">Estatura</label>
                    <input type="number" class="form-control" name="estatura" id="field_estatura"
                           formControlName="estatura"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_titulo">Titulo</label>
                    <input type="text" class="form-control" name="titulo" id="field_titulo"
                           formControlName="titulo"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
